/**
 * User Control Panel and Moderator Control Panel
 */
#tabs + .panel,
#attach-panel,
#poll-panel,
.section-ucp #postform > .panel.bg3 {
	border-top-left-radius: 0;
}

#tabs {
	margin-left: 0;
}

#tabs .tab > a {
	margin-top: 0;
	padding: 11px;
	border: 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #eef3f8;
	color: #536482;
}

#tabs .tab > a:hover,
#tabs .tab > a:active {
	background: #d0e0f0;
	color: #bc2a4d;
}

#tabs .activetab > a,
#tabs .activetab > a:hover {
	box-shadow: none;
	border-bottom: 1px solid #e1ebf5;
	background: #e1ebf5;
	color: #333;
}

#tabs .activetab > a:hover,
#tabs .activetab > a:active {
	color: #bc2a4d;
}

/* Subsection navigation */
#navigation {
	padding-top: 38px;
}

#navigation a {
	padding: 8px 6px;
	background: #cad9e5;
	color: #333;
}

#navigation a:hover,
#navigation a:active {
	background: #bacedd;
	color: #bc2a4d;
}

#navigation #active-subsection a,
#navigation #active-subsection a:hover {
	color: #bc2a4d;
}

/* MCP mini tabs */
#minitabs {
	margin-top: 8px;
}

#minitabs .tab > a {
	display: block;
	padding: 8px;
	border-radius: 0;
	background: #cad9e5;
	color: #333;
}

#minitabs .tab > a:hover,
#minitabs .tab > a:active {
	background: #bacedd;
	color: #bc2a4d;
}

#minitabs .activetab > a,
#minitabs .activetab > a:focus,
#minitabs .activetab > a:hover {
	background: #f9f9f9;
	color: #bc2a4d !important;
}

/* Friends list */
.cp-mini {
	margin: 10px 10px 0 0;
	padding: 8px;
	border-radius: 7px;
	background: #f8f8f8;
	line-height: 18px;
}

dl.mini dt {
	color: #3f3f3f;
}

.pm-legend:first-of-type {
	margin-top: 8px;
}

.pm-legend {
	margin-bottom: 5px;
	padding-top: 0 !important;
	padding-left: 5px;
	line-height: 22px;
}

/* Inside panels */
#cp-main h3,
#cp-main hr,
#cp-menu hr {
	border-color: #b7c9d7;
}

#cp-main .panel {
	clear: both;
	padding-top: 8px;
}

#cp-main .panel p {
	font-size: 12px;
}

#cp-main .panel + fieldset.submit-buttons {
	margin-top: 10px;
}

#cp-main fieldset.display-actions {
	margin-top: 10px;
	padding-right: 0;
}

#cp-main fieldset.display-actions div {
	margin-top: 4px;
}

#cp-main fieldset.display-actions .left-box {
	margin-top: 0;
}

#cp-main fieldset.forum-selection {
	margin-top: 0;
	margin-bottom: 8px;
}

dl.details {
	line-height: 18px;
	font-size: 12px;
}

dl.details dt {
	color: #333;
}

dl.details dd {
	margin-bottom: 4px;
	color: #536482;
}

ul.cplist {
	margin-bottom: 15px;
	border-top: 0;
	border-bottom: 3px solid #cacaca;
}

/* Forum/topic lists */
#cp-main .panel li.header dd,
#cp-main .panel li.header dt,
#cp-main .panel li.header a {
	color: #fff;
}

.section-ucp ul.topiclist li.header,
.section-mcp ul.topiclist li.header {
	display: block;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #1f3e59; /* Fallback for older browsers */
	background: linear-gradient(to bottom, #1f3e59 0%, #153753 100%);
}

.section-ucp ul.topiclist dl.icon,
.section-mcp ul.topiclist dl.icon {
	background-position: 14px 50%;
}

.section-ucp ul.topiclist dl.icon dt,
.section-mcp ul.topiclist dl.icon dt {
	width: 100%;
	padding-left: 55px;
}

.section-ucp ul.topiclist li.row dt {
	background: transparent !important;
}

.section-ucp ul.topiclist .bg1,
.section-mcp ul.topiclist .bg1 {
	background-color: #f2f2f2;
}

.section-ucp ul.topiclist .bg2,
.section-mcp ul.topiclist .bg2 {
	background-color: #fafcfe;
}

.section-ucp ul.topiclist + h3 {
	margin-top: 30px;
}

dd.mark {
	width: 60px;
	float: none !important;
}

/* Private messages list */
#cp-main .buttons {
	margin-bottom: 8px;
}

#cp-main ul.linklist .pagination {
	margin-top: 5px;
	margin-bottom: 5px;
}

#viewfolder ul.topiclist,
#cp-main ul.linklist + p {
	clear: both;
}

#viewfolder ul.topiclist li.header dt {
	width: 100%;
	padding-left: 55px;
}
